.ropeproject/*
**/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
__pycache__/*
*/__pycache__/*
**/__pycache__/*
*/*/__pycache__/*
.mypy_cache/*
.eggs
geosnap.egg-info
.coverage*
.pytest*
docs/_build/
snap/tests/.ipynb_checkpoints/
**/.bash_history
**/.jupyter
**/.ipython
**/.local
**/.vscode
**/build/
**/dist/
geosnap/tests/images
docs/generated/*