include LICENSE.txt MANIFEST.in requirements_docs.txt requirements_tests.txt requirements.txt  
include geosnap/io/*.csv
include versioneer.py
include geosnap/_version.py
include docs/figs/geosnap_long.png
include docs/figs/Washington-Arlington-Alexandria_DC-VA-MD-WV.gif
