numpy
pandas
geopandas
matplotlib
scikit-learn
seaborn
libpysal
mapclassify
giddy>=2.2.1
xlrd
cenpy
appdirs
palettable
dash
dash-bootstrap-components
tqdm
quilt3>=3.6
pyarrow>=0.14.1
contextily
descartes
scikit-plot
tobler>=0.4
spopt>=0.1.1
fsspec
s3fs
botocore >=1.20.21
segregation>=2.1
proplot>=0.9
versioneer
