numpy
pandas
geopandas
matplotlib
scikit-learn
seaborn
libpysal
mapclassify
giddy>=2.2.1
xlrd
cenpy
appdirs
tqdm
quilt3>=3.6
pyarrow>=0.14.1
contextily
descartes
scikit-plot
tobler>=0.8.2
spopt>=0.3.0
fsspec
s3fs
segregation>=2.1
proplot>=0.9
versioneer
