numpy
pandas
cython
geopandas
hdbscan
matplotlib
scikit-learn
seaborn
pyarrow==0.13
libpysal
mapclassify
spenc
giddy
xlrd
cenpy
appdirs
quilt3
region @ git+https://github.com/pysal/region@master#egg=region
