 name: Continuous Integration
 
 on:
   push:
     branches:
       - '*'
   pull_request:
     branches:
       - '*'
   schedule:
       - cron: '59 23 * * *'

 jobs:
   unittests:
     name: CI (${{ matrix.os }}-${{ matrix.environment-file }})
     runs-on: ${{ matrix.os }}
     continue-on-error: true
     timeout-minutes: 90 
     strategy:
       matrix:
         os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
         environment-file: [.ci/38.yml, .ci/39.yml]
         include:
          - environment-file: [ci/310.yml]
            os: [macos-latest, windows-latest, ubuntu-18.04]
            experimental: true     
     steps:
       - name: checkout repo
         uses: actions/checkout@v2
       
       - name: setup micromamba
         uses: mamba-org/provision-with-micromamba@main
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'
     
     
       - name: install geosnap - bash
         shell: bash -l {0}
         run: pip install -e . --no-deps --force-reinstall
         if: matrix.os != 'windows-latest'
       
       - name: install geosnap - powershell
         shell: powershell
         run: pip install -e . --no-deps --force-reinstall
         if: matrix.os == 'windows-latest'
      
      
       - name: download data - bash
         shell: bash -l {0}
         run: python geosnap/tests/_dl_data.py
         env:
           COMBO_DATA: ${{ secrets.COMBO_DATA }}
         if: matrix.os != 'windows-latest'
      
       - name: download data - powershell
         shell: powershell
         run: python geosnap/tests/_dl_data.py
         env:
           COMBO_DATA: ${{ secrets.COMBO_DATA }}
         if: matrix.os == 'windows-latest'
       
       
       - name: run tests - bash
         shell: bash -l {0}
         run: pytest -v geosnap --cov=geosnap --cov-report=xml
         env:
           LTDB_SAMPLE: ${{ secrets.COMBO_DATA }} # check whether we can pull secrets
           LTDB_FULL: ${{ secrets.COMBO_DATA }}
           NCDB: ${{ secrets.COMBO_DATA }}
         if: matrix.os != 'windows-latest'
       
       - name: run tests - powershell
         shell: powershell
         run: pytest -v geosnap
         env:
           LTDB_SAMPLE: ${{ secrets.COMBO_DATA }} # check whether we can pull secrets
           LTDB_FULL: ${{ secrets.COMBO_DATA }}
           NCDB: ${{ secrets.COMBO_DATA }}
         if: matrix.os == 'windows-latest'
       
       
       - name: codecov
         uses: codecov/codecov-action@v2
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           flags: unittests # optional
           name: geosnap-codecov
           verbose: true 
         if: matrix.os != 'windows-latest'
